body {
    text-align: center;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.buttons {
    color: rgb(135, 206, 235);
    padding:10px 22px;
    display: inline-block;
    text-align: center;
    cursor: default;
}

.inputs {
    align-items: center;
    text-align: left;
    display: inline-block;
    justify-content: center;
}

.container {
    text-align: center;
    border-radius: 100px;
    border-style: solid;
    border-color: skyblue;
}

input[type="radio"] {
    appearance: auto;
}

input[type="checkbox"].mode-selection {
    appearance: auto;
}

.mode-selector {
    margin-bottom: 25px;
    text-align: left;
    display: inline-block;
}

.mode-selection {
    margin: 10px;
    text-align: left;
    appearance: none;
    cursor: default;
    outline: none;
}
  
.mode-selection:checked {
    appearance: auto;
}
  

.play-button,
.start-over-button 
 {
    background-color: rgb(135, 206, 235);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .play-button:hover,
  .play-button:focus {
    background-color: rgb(0, 191, 255);
  }

  .start-over-button:hover,
  .start-over-button:focus {
    background-color: rgb(0, 191, 255);
  }

.results {
    justify-content: center;
    align-items: center;
    padding: 22px;
    display: inline-block;
    text-align: left;
}

.some-title {
    color: blue;
    text-align: center;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}